.badge {
    cursor: pointer;

    font-family: var(--default-text-font);
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

    background-color: var(--white);
    padding: 10px 20px;
    box-shadow: var(--default-shadow);
    width: fit-content;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;

    span {
        display: flex;
        align-items: center;
        transition: all .3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}