.badge {
    cursor: pointer;

    font-family: var(--default-text-font);
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

    background-color: var(--white);
    padding: 10px 20px;
    box-shadow: var(--default-shadow);
    width: fit-content;
    border-radius: 50px;

    align-self: center;
    justify-self: center;

    transition: all .3s ease-in-out;

    &:hover {
        background-color: var(--default-color);
        color: var(--white);
    }
}