.btn {
    cursor: pointer;

    color: var(--white);
    padding: 13px 20px;

    font-family: var(--default-heading-font);
    font-size: 20px;
    font-weight: 400;

    background: var(--default-color);
    box-shadow: var(--default-shadow);

    border: none;
    border-radius: 50px;

    transition: all .3s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    background: var(--default-color-active);
}