.maincontainer {
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(12.5px);
    padding: 31px;
    border-radius: 15px;

    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        inset: 0;
        border-radius: 15px;
        padding: 3px;
        background: radial-gradient(62.65% 256.75% at 50% 47.32%, #FFFFFF 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(80.96% 331.8% at 49.88% 50.24%, #000000 0%, rgba(0, 0, 0, 0) 100%);
        mask:
            linear-gradient(#ffff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask:
            linear-gradient(#ffff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    &_circle1 {
        position: absolute;
        width: 196px;
        height: 196px;
        right: -100px;
        top: -100px;
        border-radius: 50%;
        background: radial-gradient(95.33% 95.33% at 50% 0%, #9EB1AE 0%, #30525B 50.65%);
    }

    &_circle2 {
        border-radius: 50%;
        position: absolute;
        width: 207px;
        height: 207px;
        left: -100px;
        bottom: -100px;
        background: radial-gradient(88.08% 88.08% at 43.72% 7.25%, #E2ECEF 5.71%, #9EB1AE 50.65%);
    }
}