.quizPage {
    padding: 40px 0;
    position: relative;

    &_logo1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &_logo2 {
        align-items: center;
    }

    h1 {
        font-family: var(--default-heading-font);
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 28px;
        color: var(--sifi-text-color);

    }

    &_line {
        width: 68px;
        height: 0px;
        border: 1px solid var(--sifi-text-color);
        margin: 15px 0 30px 0;

    }
}