.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        font-family: var(--default-heading-font);
        margin-bottom: 20px;
        text-align: center;
    }

    &_Title {
        margin-bottom: 20px;

        font-family: var(--default-text-font);
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        text-align: center;

        max-width: 395px;
    }

    &_Varints {
        display: flex;
        gap: 38px;
    }

    &_Image {
        width: 340px;
        height: 308px;
        object-fit: cover;

        box-shadow: var(--default-shadow);
        border-radius: var(--default-border-radius);
    }
}